<!DOCTYPE html>
<html>
    <head>
        <title>
            services page
        </title>
        <link rel="stylesheet" href="search for service.css">
    </head>
    <body>

        <div>
        <header>
            <div class="topbarContainer">
                <div class="topbar">
                    <div class = "logo"><a href="https://www.youtube.com"><img src="images/logos/jobmeLogo_j-only.png"></a></div>
                    <div class="searching-div">
                    <input class="searchBar" type="search" placeholder="search...." >
                    <button class ="searchButton">Search</button>
                    </div>
                    <div class = "messege"> <p>messege</p></div>
                    <div class = "order"> <p>order</p></div>
                    <div class = "accountButton"> <p>account</p></div>
                </div>
            </div>
        </header>
        </div>
       
        
        
    </body>
</html>